<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Binance Live Ticker</h1>
  </div>
</div>
<div class="ticker text-center">
</div>

</body>
</html>
